<!DOCTYPE html>
<html>
<head>
	<title>Caesar Cipher</title>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' type='text/css' href='styles/eric-meyer-reset.min.css'> 
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
	<div class="warpper">
		<header>
			<h1>Caesar Cipher</h1>
			<a href="#">i</a>
			<p><span>x</span>In cryptography, a Caesar cipher, also known as Caesar's cipher, the shift cipher, Caesar's code or Caesar shift, is one of the simplest and most widely known encryption techniques. It is a type of substitution cipher in which each letter in the plaintext is replaced by a letter some fixed number of positions down the alphabet. For example, with a left shift of 3, D would be replaced by A, E would become B, and so on. The method is named after Julius Caesar, who used it in his private correspondence.<a href="https://en.wikipedia.org/wiki/Caesar_cipher">more</a></p>
		</header>
	</div>
	<script src="javascript/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>