body{
	font-size:62.5%;
}

header{
	text-align:center;
	position:relative;
}

h1{
	display:inline-block;
	margin-top:10px;
	font-size:3em;
}

header>a{
	font-size:1.5em;
	width:15px;
	height:15px;
	display:inline-block;
	text-decoration:none;
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
	border-radius:50%;
}


header>p{
	width:80%;
	left:0;
	margin:10px auto 0 auto;
	transform-origin: top right;
	display:block;
	position :relative;
	text-align:justify;
	padding:10px;
	font-size:1.6em;
	opacity:0;
	transform:scale(0);
	transition:all 300ms ease-in-out;
	background-color:#ddd;
	padding-top:20px;
	line-height: 25px;
}

header>p>span{
	position:absolute;
	right:0;
	top:0;
	padding:2px;
	background-color:rgba(0, 0, 0, 0.5);
	color:white;
}

header>a:hover{
	background-color:rgba(0, 0, 0, 0.7);
}


header>a:focus ~ p{
	opacity:1;
	transform:scale(1);
}

header>p>span:hover{
	cursor:pointer;
}


@media screen and (min-width:768px){
	header>p{
		transform-origin:70% 0%;
	}
}

@media screen and (min-width:980px){
	header>p{
		transform-origin:60% 0%;
	}

	h1{
		font-size:5em;
	}

	header>a{
		font-size:2em;
		width:20px;
		height:20px;
	}
}

@media screen and (min-width: 1280px){
	h1{
		font-size:5em;
	}

	header>a{
		font-size:2em;
		width:20px;
		height:20px;
	}

	header>p{
		margin:0 auto;
		width:70%;
		transform-origin:70% 0;
	}


@media screen and (min-width: 1920px){

	header>p{
		width:60%;
		transform-origin:70% 0;
	}
}